.article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  margin: 0 300px;
  padding: 15px;
  font-family: "Open Sans";
}

.page-title {
  text-decoration: none;
  font-size: 35px;
}
.credits {
  padding: 10px;
}
.article-title {
  font-size: 35px;
  color: #900c3f;
  margin-top: 45px;
  text-align: center;
  margin-bottom: 5px;
}
.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}
.art-topic {
  margin-top: 5px;
  text-align: center;
}
.img-size {
  display: flex;
  align-items: center;
}
.image-self {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.comm {
  background-color: #047aed;
  color: white;
  margin: 5px 800px;
  padding: 10px;
  border-radius: 25px;
}

@media (max-width: 500px) {
  .article-title {
    font-size: 22px;
  }
  .article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin: 0 300px;
    padding: 15px;
  }
  img-size {
    max-width: 50%;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 350) {
  .article-title {
    font-size: 14px;
  }
  .article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 0 300px;
    padding: 15px;
  }
  .img-size {
    width: 20px;
    height: 20px;
    /* max-width: 25%;
    max-height: 100%;
    display: flex;
    margin: 0 auto; */
  }
}
