@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  font-family: "Open Sans, sans-serif";
}

.left-side {
  display: flex;
  width: max-content;
  align-items: center;
}

.right-side {
  display: flex;
  width: max-content;
  align-items: center;
}
.s-link {
  margin: 5px;
}
.blog-logo {
  flex-direction: column;
  justify-content: start;
}
.navbar-link {
  display: flex;
  padding: 45px;
  margin: 5px;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.32px;
}

@media (max-width: 900px) {
  .costco-title {
    display: none;
  }
  .circle-logo {
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .view-more-links > a {
    font-size: 18px;
    font-weight: 600;
  }
  .apple-header {
    height: 300px;
  }
}
