@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ccafaf;
  width: 100%;
  height: 100px;
  color: white;
}
.left-side {
  display: flex;
  width: auto;
  align-items: center;
  padding-left: 10px;
  color: white;
}
h2 {
  text-decoration: none;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;
  margin: 15px;
  padding-right: 10px;
}

.logo {
  font-family: "Open Sans";
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
  text-decoration: none;
}
.logo:hover {
  transform: scale(1.004);
}
.header-a {
  text-decoration: none;
}
.header-a,
.header-a :visited {
  color: white;
}
.header-a :hover {
  font-weight: 400;
}
.header-btn {
  width: 150px;
  height: 20px;
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #ccafaf;
  border: none;
}
.s-link {
  padding: 20px;
}
.header-logo {
  text-decoration: none;
}

.user-username {
  display: inline-flex;
  margin: 8px;
}
.profile-btn {
  display: flex;
}
.logout-btn {
  padding-top: 15px;
}
.s-link {
  margin: 5px;
  width: 75px;
  height: 20px;
}
.blog-logo {
  flex-direction: column;
  justify-content: start;
}

@media (max-width: 350px) {
  nav {
    width: 90%;
  }
  .left-side {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 710px) {
  nav {
    width: 98%;
  }
  .logo {
    max-width: 50%;
  }
  .logout-btn {
    display: none;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
