@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.header-container {
  /* flex: 1; */
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #047aed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  font-family: "Open Sans, sans-serif";
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: -3px;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
}
.logo:hover {
  transform: scale(1.004);
}
.header-a {
  text-decoration: none;
}
.header-a,
.header-a :visited {
  color: white;
}
.header-a :hover {
  font-weight: 400;
}

.left-side {
  display: flex;
  width: max-content;
  align-items: center;
}

.right-side {
  display: flex;
  /* width: max-content; */
  /* align-items: flex-end; */
  /* padding-right: 15px; */
  justify-content: space-between;
  margin: 5px;
}
.user-username {
  display: inline-flex;
  margin: 15px;
}
.profile-btn {
  display: flex;
}
.logout-btn {
  padding-top: 15px;
}
.s-link {
  margin: 5px;
}
.blog-logo {
  flex-direction: column;
  justify-content: start;
}

.navbar-link {
  display: flex;
  padding: 45px;
  margin: 5px;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.32px;
}
.header-logo {
  text-decoration: none;
  padding-left: 15px;
}
.user-username {
  padding-right: 15px;
}
.logout-btn {
  padding-left: 15px;
}

/* .links {
  flex: 2;
  max-width: 30vw;
  align-items: center;
  font-size: 24px;
  display: flex;
}

.link {
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
} */

@media (max-width: 710px) {
  nav {
    width: 50%;
    background-color: red;
  }
  .logo {
    max-width: 50%;
  }
  .logout-btn {
    display: none;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
