@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 50vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin-left: 700px;
  margin-top: 150px;
  text-align: center;
}

.login-submit-btn {
  width: 150px;
  height: 40px;
  background-color: #ccafaf;
  border: none;
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
}
.login-submit-btn:hover {
  box-shadow: 0 0 10px lightgray;
}
